# Rename this file to .env and fill in your own values before running the project

# Local MongoDB:
# MONGO_URI=mongodb://127.0.0.1:27017/bookstoreDB

# OR MongoDB Atlas (replace <username>, <password>, <cluster-url> with your own):
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/bookstoreDB?retryWrites=true&w=majority

PORT=5000
